.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px, 20px;
}

.searchBar input {
    height: 40px;
    width: 450px;
    border-radius: 50px;
    border: 1px solid rgb(220, 220, 220);
    font-size: 18px;
    padding-left: 20px;
}

.searchBar input :focus {
    outline: none;
    border: 1px solid rgb(130, 141, 242);
}

.userOption {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.userOption h4 {
    background-color: crimson;
    color: white;
    padding: 12px;
    font-size: 18px;
    border-radius: 100%;

}